/* sm 576px -->      */
@media screen and (min-width:576px) {
    .sm-50 {
        width: 50%;
    }

    .sm-33 {
        width: 33.333%;
    }

    .sm-25 {
        width: 25%;
    }

    .sm-20 {
        width: 20%;
    }

    .sm-16 {
        width: 16.66%;
    }

    /*==========================================================================*/
    /*Nav bar Start*/
    .navbar .nav-content {
        padding-inline: 24px;
        height: 80px;
    }

    main {
        margin-top: 80px;
        padding-block: 32px;
        padding-inline: 24px;
    }

    .navbar .navbar-brand .icon-container {
        width: 44px;
        height: 44px;
    }

    .navbar .logo-text-container h1 {
        font-size: 24px;
    }

    .navbar .logo-text-container p {
        font-size: 12px;
    }

    .navbar .nav-content .nav-buttons {
        gap: 12px;
    }

    .navbar .nav-content .nav-buttons #addContactbutton {
        padding-inline: 20px;
    }

    .navbar .img-container {
        width: 40px;
        height: 40px;
    }

    /*navbar End*/
    /*==========================================================================*/
    /*Summary card Section Start*/
    #quick-stats .contacts-summary {
        --bs-gutter-x: 16px;
        --bs-gutter-y: 16px;
    }

    #quick-stats .contact-card .inner {
        padding: 20px;
    }

    #quick-stats .contact-card .icon-container {
        width: 48px;
        height: 48px;
    }

    #quick-stats .contact-card .summary-card-info p:first-child {
        font-size: 12px;
        line-height: 16px;
    }


    #quick-stats .contact-card .summary-card-info p:last-child {
        font-size: 24px;
        line-height: 32px;
    }

    /* contact-details --> all-contacts Start*/
    #contact-details .all-contacts .contact-header-text h2 {
        font-size: 30px;
        line-height: 36px;
    }
}

/* md 768px  -->    */
@media screen and (min-width:768px) {
    .md-50 {
        width: 50%;
    }

    .md-33 {
        width: 33.333%;
    }

    .md-25 {
        width: 25%;
    }

    .md-20 {
        width: 20%;
    }

    .md-16 {
        width: 16.66%;
    }

}

/* lg 992px  -->       */
@media screen and (min-width:992px) {
    .lg-50 {
        width: 50%;
    }

    .lg-33 {
        width: 33.333%;
    }

    .lg-25 {
        width: 25%;
    }

    .lg-20 {
        width: 20%;
    }

    .lg-16 {
        width: 16.66%;
    }

    /*==========================================================================*/
    /*Nav bar Start*/
    .navbar .nav-content {
        padding-inline: 32px;
    }

    /* main {
        padding-inline: 32px;
    } */
    /*===========================================================================*/



}

/* xl 1200px  -->       */
@media screen and (min-width:1200px) {
    .xl-50 {
        width: 50%;
    }

    .xl-33 {
        width: 33.333%;
    }

    .xl-25 {
        width: 25%;
    }

    .xl-20 {
        width: 20%;
    }

    .xl-16 {
        width: 16.66%;
    }

    #contact-details .fav-emrg-contacts {
        width: 320px;
    }

    .contactList .list-header .icon-container {
        width: 36px;
        height: 36px;
    }

    .contactList .list-header .icon-container i {
        font-size: 14px;
    }

    .contactList .list-header h2 {
        font-size: 16px;
        line-height: 24px;

    }

    .contactList .list-header p {
        font-size: 11px;
        line-height: 17px;

    }

    /*Body contacts Cards*/
    .contactList .list-body {
        max-height: 320px;
    }

    .contactList .list-body .list-card h4 {
        font-size: 14px;
        line-height: 20px;
    }

    .contactList .list-body .list-card p {
        font-size: 12px;
        line-height: 16px;
    }

    .contactList .list-body .list-card a i {
        font-size: 12px;
    }

    /*Call icon*/
    .contactList .list-body .list-card a.icon-container {
        width: 32px;
        height: 32px;
        border-radius: 8px;
    }

}

/* xxl 1400px  -->       */
@media screen and (min-width:1400px) {
    .xxl-50 {
        width: 50%;
    }

    .xxl-33 {
        width: 33.333%;
    }

    .xxl-25 {
        width: 25%;
    }

    .xxl-20 {
        width: 20%;
    }

    .xxl-16 {
        width: 16.66%;
    }

}